
@media only screen and (max-width: 1135px){
  .card {
    width: calc(30% - 10px); /* Adjust the width based on your requirements */
  }
}
  
@media only screen and (max-width: 1000px){
  .burger{
    display: block;
  }
  .menuitems {
    display: none;
    position: fixed;
    top: 236px;
    right: 0;
    left: 0; /* Center the menu horizontally */
    background-color: transparent;
    flex-direction: column;
    font-size: 15px;
    transform: translateY(-50%); /* Vertically center the menu items */
    backdrop-filter: blur(50px); /* Add the background blur effect */
    padding-bottom: 25px;
  }

  .menuitems.show{
     display: flex;
  }
  .menuitems li{
    margin: 13px 0;
  }
  nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .darkLightMode{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px !important;
    margin:  0px !important;
    margin-top: 13px !important;
}

  .heading{
      font-size: 2.5rem;
      font-weight:550;
  }
  .home-text h1{
    font-size: 45px;
  }
  .myname{
    font-size: 60px;
    font-weight: 650;
  }
  .homeright img{
    width: 100%;
  }
  
  .aboutleft{
     padding-left: 0px;
  }
  .aboutright img{
    width: 100%;
  }
  .aboutright{
    margin-left: 30px;
  }
  .information-text{
     line-height: 1.3rem;
  }
  .skills {
    width: calc(40% - 20px);
  }
  .card {
    width: calc(33% - 10px); /* Adjust the width based on your requirements */
  }
  .carousel img{
    width: calc(100% / 2);
  }
}



@media only screen and (max-width: 845px){
  
  .heading{
      font-size: 2.2rem;
      font-weight:500;
  }
  .home-text h1{
      font-size: 40px;
      font-weight: 550;  
  }
  .myname{
    font-size: 55px;
    font-weight: 650;
  }
  .homeright{
    justify-content: flex-end;
  }
  .home-text button,
  .aboutleft button,
  .contact_page button{
     height: 30px;   
     font-size: 16px;
     font-weight: 400;
  }
  .home-text p{
      font-weight: 400;
  }
  .home-area{
    line-height:2.7rem;
}
  .information-text{
     font-size: 15px;  
  }
  .aboutright img{
    padding-bottom: 30px;
  }
  .skills {
    width: calc(50% - 20px);
  }
  .codingprofile {
    justify-content: center;
}

.box {
    width: 45%;
    margin: 10px;
}

  .card {
    width: calc(50% - 10px); /* Adjust the width based on your requirements */
  }
  .contact_page{
    font-size: 0.8rem;
  }
} 



  @media only screen and (max-width: 550px){
    .about, .experience, .qualification, .skill, .achievement, .project{
      padding: 30px;
  }
  .navbar{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
    .cursor {
      width: 1.7px;
      height: 18px;
    }
  .heading{
    font-size: 2rem;
    font-weight:500;
  }
  .home{
    padding-top: 0px !important;
  }
  .home-text{
    width: 100%;
}
  .homeright img{
    width: 120%;
    padding-bottom: 40px;
    padding-left: 20px;
}
.homeright{
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
  .home-text p{
    font-weight: 350;
    font-size: 20px;
}

  .home-text h1{
    font-size: 26px;
    font-weight: 550;  
}
  .myname{
    font-size: 47px;
    font-weight: 600;
}
  .home-area{
    flex-direction: column-reverse;
    width: 100%;
    line-height:2.5rem;
    margin: 0 !important;
    padding-top: 0px !important;
}
  .home-text button,
  .aboutleft button,
  .contact_page button{
    height: 28px;   
    font-size: 14px;
    font-weight: 350;
  }
  .home-text{
    margin-left: 30px;
  } 
  
  .information{
    flex-direction: column-reverse;
    max-width: 100%;
  }
  .aboutleft{
    line-height: 1.2rem;
    width: 100%;
  }
  .aboutright img{
    width: 150%;
    padding-bottom: 50px;
  } 
  .aboutright{
    align-items: center;
    margin: 0;
  }
  .aboutheading{
    font-size: 1.3rem;
  }
  .myskill {
    width: 95%;
  }
  .skills {
    width: 100%;
  }
  .codingprofile {
    flex-direction: column;
    align-items: center;
}
.box {
    width: 90%;
    margin: 10px;
}
  .card {
    width: 100%;
  }
  .carousel img{
    width: 100%;
  }
  .contact_page{
    flex-direction: column;
    margin: 0px;
    padding-bottom: 20px;
    padding: 20px;
  }
  .contactLeft{
    width: 100%;
  }
  .contactRight{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30PX;
    padding-left: 0px;
  }
}




